* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-bar{
    background-color:  rgb(235, 134, 45);
    min-height: 70px;
}
.container{
    max-width: 900px;
    margin: auto;
}

.container-flex{
    display: flex;
}
.menu-bar ul{
    display: flex;
}

a{
    text-decoration: none;
    display: inline-block;
    padding: .4rem;
    color: white;
}
ul{
    list-style: none;
}