* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:  rgb(235, 134, 45);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;


}
.menu-bar{
    background-color:  rgb(235, 134, 45);
    height: 70px;

}
.container{
    max-width: 900px;
    width: 100%;
    margin: auto;
}

.container-flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.menu-bar ul{
    display: flex;
}

a{
    text-decoration: none;
    display: inline-block;
    padding: .4rem;
    color: white;
}
ul{
    list-style: none;
    justify-content: start;
    /* align-items: center;  perche nn funziona ? */
}

.logo{
    height: 30px;
    width: 80px;
    display: inline-block;
    flex-grow: 1;
    
    

}
.container .logo{
    display: flex;
    justify-content: center;
    
}

.login{
    background-color: blanchedalmond;
    height: 30;
    width: 60px;
}

/* main */

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 300px;
    height: 500px;
    padding: 25px 8px;
    
}

.product-card{
    background-color: grey;
    height: 500px;
    position: relative;
}

.product-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-price{
    color: red;
}

.text-description{
    font-size: 11px;
}

.product-card > .dis-50{
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: red;
    padding: 5px 10px;
}

.product-card > .my-favorite{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 10px 15px;

}


.x{
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 0;
}

.product-card > .sostinibilita{
    position:absolute ;
    bottom: 10px;
    left: 0;
    background-color: rgb(61, 25, 206);
    padding: 5px 10px;
}

.dis-50{
    background-color: red;
    padding: 5px 10px; ;
    color: white;
}

.sostenibilita{
    background-color: rgb(18, 134, 28);
    padding: 5px 10px;
    color: white;
}

.my-favorite{
    display: none;
}
.product-card:hover .my-favorite{
    display: block;
}

.sec-img{
    display: none;
}

.product-card:hover .sec-img{
    display: block;
}

.sec-img{
    position: absolute;
    top: 0;
    left: 0;
}
